.projects {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  scroll-margin-top: 50px;

  &__title {
    align-self: center;
    font-size: 48px;
    font-weight: 800;
    line-height: 65.47px;
    color: var(--primary-green);
  }

  &__content {
    margin-top: 50px;
  }
}

@media screen and (max-width: 450px) {
  .projects {
    margin-top: 25px;
    &__title {
      font-size: 17px;
      line-height: 24px;
    }

    &__content {
      margin-top: 25px;
    }
  }
}
