@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --primary-green: rgba(100, 155, 146, 1);
  --primary-orange: rgba(255, 161, 122, 1);
  --primary-white: rgba(255, 255, 255, 1);
}
