.tag {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid var(--primary-green);
  background-color: #333;
  border-radius: 5px;

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  &__name {
    font-size: 12px;
    font-weight: 600;
    color: var(--primary-white);
  }
}
